<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aman.taskmonkey">

    <uses-permission android:name="com.android.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        // Theme.AppCompat.Light.NoActionBar
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditTask"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".CategoryTasks" />
        <activity android:name=".OverdueList" />

        <receiver android:name=".AlarmReceiver">
            <intent-filter>
                <action android:name="android.action.DISPLAY_NOTIFICATION" />
                <action android:name="my.action.string.notification" /> my.action.string.notification
            </intent-filter>
        </receiver>
        <receiver android:name=".ReminderReceiver">
            <intent-filter>
                <action android:name="android.action.DISPLAY_NOTIFICATION" />
                <action android:name="my.action.string" />
            </intent-filter>
        </receiver>

        <activity android:name=".CompletedTasks" />
    </application>

</manifest>